{%extends 'base.html' %}

{% block title %}
template
{% endblock %}

{% block body %}
<div class="wrapper">
    <h4>Task master</h4>
    <table border="1" class="todo-table">
        <thead>
            <tr>
                <th>task</th>
                <th>added</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td>
                    <a href="">delete</a>
                    <br />
                    <a href="">update</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}